{% extends "base.html" %}

{% block content %}

    <form action="" method="post" novalidate>
        <div> Runs: </div>

        {% for run in runs %}
            {% if run in checked %}
                <input type="checkbox" id={{ run }} name="hello" value={{ run }} checked>
            {% else %}
                <input type="checkbox" id={{ run }} name="hello" value={{ run }}>
            {% endif %}
            <label for={{ run }}> {{ run }} </label><br>
        {% endfor %}

        <input type="submit" value="Apply">
    </form>

    
    <div style="text-align: center;"></div> <object type="text/html" width="1300" height="1000"  data="../static/images/new_plot.html"></object>
       


{% endblock %}

<!-- <div style="text-align: center;"> <img src="../static/images/plots.png"> </div> -->

<!-- <script>
    var link = document.querySelector('link[rel=import]');
    var content = link.import.querySelector('#divPlotly');
    document.body.appendChild(content.cloneNode(true));
</script> -->